*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    /* color: black; */
    /* background-color: black; */
}

::-webkit-scrollbar{
    display: none;
}

html,body{
    height: auto;
    width: auto;
    /* overflow: hidden; */
    /* background-color: black; */
}

#main{
    height: auto;
    width: auto;
    padding: .6em 1.5em;
    background-color: black;
    color: white;
}

#nav{
    height: 10%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6em 1em;
}

#nav h1{
    font-size: 2.2em;
    font-family: "Yatra One", system-ui;
    font-weight: 500;
    /* text-transform: uppercase; */
}

#nav a{
    color: white;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 200;
}

#right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4em;
}

#rr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

#rr a{
    font-weight: 500;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4em;
}

li{
    font-weight: 500;
    cursor: pointer;
    list-style-type: none;
    text-decoration: none;
    font-size: 1.1em;
    /* color: black; */
    /* -webkit-text-fill-color: black; */
}

#nav i{
    cursor: pointer;
    font-size: 1.4em;
}

#centr{
    height: auto;
    width: auto;
}

#center{
    /* text-transform: uppercase; */
    margin-top: .6em;
    font-size: 11.5em;
    font-weight: 400;
    word-spacing: 0;
    line-height: .8em;
    /* text-transform: uppercase; */
}

#center span{
    -webkit-text-stroke: .1rem #ffffff;
    color: transparent;
}

#cent2{
    margin-top: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.connect{
    text-decoration: none;
    padding: 1.5em 2.5em;
    border-radius: 4em;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    font-size: 1.3em;
    font-weight: 500;
    cursor: pointer;
}

.connect:hover{
    background-color: white;
    color: black;
}

#cent2 p{
    font-size: 1.3em;
    text-transform: uppercase;
    line-height: 1.4em;
}

#cent3{
    margin-top: 15%;
}

#cent3 h2{
    font-size: 5em;
    line-height: .9em;
    font-weight: 500;
}

#box{
    height: 1.5em;
    width: 1.5em;
    /* background-color: white; */
}

#cent3p{
    display: flex;
    justify-content: flex-end;
}

#cent3 p{
    margin-top: 1.3em;
    font-size: 1.7em;
    text-align: left;
}

#cent3p span{
    text-decoration: underline;
}

.marquee-container {
    margin-top: 8%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    display: flex;
    align-items: center;
}

.marquee-content {
    display: flex;
    gap: 3.1em; 
    padding-left: 4.8rem;
    width: max-content;
    animation: marquee 20s linear infinite;
}

.word {
    font-size: 1.8em;
    font-weight: 200;
    cursor: none;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.marquee-container:hover .marquee-content {
    animation-play-state: paused;
}

.marquee-container2 {
    margin-top: 2%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    display: flex;
    align-items: center;
}

.marquee-content2 {
    display: flex;
    padding-left: 4.8rem;
    gap: 3.1em; 
    animation: marquees 20s linear forwards infinite;
}

.word1 {
    font-size: 1.8em;
    font-weight: 200;
    cursor: none;
}

@keyframes marquees {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}

.marquee-container2:hover .marquee-content2 {
    animation-play-state: paused;
}

#part{
    margin-top: 100px;
    height: auto;
    width: 100%;
    /* background-color: red; */
}

.p1{
    /* margin-top: 25px; */
    /* background-color: blue; */
    width: 100%;
    height: 25vh;
    padding: 2.5em 1.2em;

}

.p1 h2{
    font-size: 2.5em;
    font-weight: 500;
}

.line{
    margin-top: 4.5em;
    height: .1vh;
    width: 100%;
    background-color: gray;
}

#text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#text h2{
    font-weight: 500;
    font-size: 3.5em;
}

#text h4{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.2em;
    cursor: pointer;
}

#small{
    font-size: 1.5em;
}

#w{
    font-size: 2.5em;
    font-weight: 400;
}

#text2{
    display: flex;
    align-items: center;
    gap: 5em;
}

#text2 h5{
    margin-top: 22px;
    font-weight: 400;
    font-size: 1em;
}

#text2 a{
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 1em;
    text-decoration: underline;
}

#main2{
    font-family: Helvetica, sans-serif;
    /* margin: 10px 0; */
    /* position: absolute; */
    width: 100%;
    height: 100vh;
    background-color: white;
    padding: 100px 0;
    color: black;
} 

#main2 h1{
    /* margin-top: 25px; */
    font-size: 8em;
    font-weight: 400;
    text-align: center;
}

#desc{
    font-size: 1.5em;
    margin-top: 40px;
    font-weight: 500;
    text-align: center;
}

#n1{
    margin: auto;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    /* padding: 30px; */
    width: 75%;
    height: 4em;
    border-radius: 3em;
    margin-top: 50px;
    color: black;
    font-size: 1.5em;
    border: 2px solid black;
    text-decoration: none;
}

#n1 i{
    font-size: 1.9em;
    /* font-weight: lighter; */
}

#n1:hover{
    background-color: black;
    color: #ffffff;
}

#stud{
    margin-top: 40px;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
}

#stud a{
    text-decoration: underline;
    font-family: "Mona Sans", sans-serif;
    font-weight: 800;
    cursor: pointer;
    color: black;
}

#link{
    padding: 20px 20px;
    margin-top: 25px;
    width: 100%;
    height: 30vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 10px; */
}

#bl{
    height: 1.5px;
    background-color: black;
}

#br{
    height: 1.5px;
    background-color: black;
}

#lt{
    padding: 0 30px;
    height: 100%;
    width: 40%;
    /* background-color: blue; */
}

#rt{
    height: 100%;
    width: 40%;
    /* background-color: green; */
    padding: 0 1.8em;
}

.in{
    margin-top: 20px;
    height: 10vh;
    width: 100%;
    /* background-color: yellow; */
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lik{
    text-decoration: none;
    color: black;
    font-size: .9em;
}

.lie{
    text-decoration: none;
    color: black;
    font-size: .9em;
}

#link i{
    font-size: 40px;
    cursor: pointer;
}
.vary{
    /* background-color: red; */
    width: 100%;
    height: 100vh;
    
}
.vt{
    /* background-color: royalblue; */
    height: 40%;
    width: 100%;
  
    display: flex;
}
.vb{
    /* background-color: lightseagreen; */
    height: 60%;
    width: 100%;
    display: flex;
}
.vt .lp{
    /* background-color: green; */
    width: 20%;
    height: 100%;   

}
.vt .lp h2{
   font-size:2.8vw ;
   font-weight: 400;
   padding: 8vw 1vw;

}
.vt .rp{
    /* background-color: rgb(117, 128, 0); */
    width: 80%;
    height: 100%;
    padding: 8vw 1vw 8vw 2vw ;

}
.vt .rp h1{
    font-size: 6vw;
    font-weight: 400;
    line-height: 5vw;

}
.vb .changet{
    /* background-color: red; */
    height: 100%;
    width: 20%;
    position: relative;


}
.vb .changet h3{
    font-size: 5.3vw;
    font-weight: 100;
    position: absolute;
    left: 40%;
    top: 10%;
    transition: all ease 1s;
}
.vb .list h4{
    font-size: 2vw;
    font-weight: 400;
    cursor: pointer;
}
.vb .list{
    /* background-color: rgb(25, 186, 195); */
    height: 100%;
    width: 20%;
    line-height: 5.5vw;
    padding: 4vw 1vw 5vw 2vw ;
    


}
.vb .para{
    /* background-color: rgb(170, 255, 0); */
    height: 100%;
    width: 60%;
    padding: 5.7vw 1vw 5vw 3vw ;
    


}
.vb .para p{
    line-height: 1.8vw;    
    font-size: 1.3vw;
    font-weight: 400;

}
.idu{
    opacity: 0.7; 
    color: darkgray;
    /* transition: ease .1s; */
    cursor: pointer;
}

.idu:hover{
    opacity: 1;
    color: white;
    /* transition: ease .5s; */
}