*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    /* color: black; */
    /* background-color: black; */
}

::-webkit-scrollbar{
    display: none;
}

html,body{
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
    /* background-color: black; */
}

#main{
    height: auto;
    width: auto;
    padding: .6em 1.5em;
    background-color: black;
    color: white;
}

#nav{
    height: 10%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6em 1em;
}

#nav h1{
    font-size: 2.2em;
    font-family: "Yatra One", system-ui;
    font-weight: 500;
    /* text-transform: uppercase; */
}

#nav a{
    color: white;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 200;
}

#right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4em;
}

#rr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

#rr a{
    font-weight: 500;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4em;
}

li{
    font-weight: 500;
    cursor: pointer;
    list-style-type: none;
    text-decoration: none;
    font-size: 1.1em;
    /* color: black; */
    /* -webkit-text-fill-color: black; */
}

#nav i{
    cursor: pointer;
    font-size: 1.4em;
}

#centr{
    height: auto;
    width: auto;
}

#center{
    /* text-transform: uppercase; */
    /* color: gray; */
    margin-top: .6em;
    font-size: 11.5em;
    font-weight: 400;
    word-spacing: 0;
    line-height: .8em;
    /* text-transform: uppercase; */
}

#center span{
    color: gray;
    -webkit-text-stroke: .1rem #ffffff;
    color: transparent;
}

#cent2{
    margin-top: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.connect{
    text-decoration: none;
    padding: 1.5em 2.5em;
    border-radius: 4em;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    font-size: 1.3em;
    font-weight: 500;
    cursor: pointer;
}

.connect:hover{
    background-color: white;
    color: black;
}

#cent2 p{
    font-size: 1.3em;
    text-transform: uppercase;
    line-height: 1.4em;
    width: 40%;
    /* background-color: red; */
}

#cent3{
    margin-top: 15%;
}

#cent3 h2{
    font-size: 5em;
    line-height: .9em;
    font-weight: 500;
    /* background-color: red; */
    width: 50%;
}

#box{
    height: 1.5em;
    width: 1.5em;
    /* background-color: white; */
}

#cent3p{
    display: flex;
    justify-content: flex-end;
}

#cent3 p{
    margin-top: 1.3em;
    font-size: 1.7em;
    text-align: left;
    width: 45%;
}

#cent3p span{
    text-decoration: underline;
}
#contmarq{
    padding-top: 1%;
    padding-bottom: 4%;
  
    
    position: relative;
    width: 100%;
    height: 100%;
   
}

#contmarq::after{
    position: absolute;
    content: "";
   
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: inset 4vh  0 5vh black,inset -4vh 0 5vh black;
}
.marquee-container {
    margin-top: 8%;
   
  
    width: 99%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    display: flex;
    align-items: center;
    position: relative;
}


.marquee-content {
    display: flex;
    gap: 3.1em; 
    padding-left: 4.8rem; 
    width: max-content; 
 transform: translateX(-91%);
   
   
}

.word {
    font-size: 1.8em;
    font-weight: 200;
    cursor: none;
}





.marquee-container2 {
    margin-top: 2%;
    width: 99%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    display: flex;
    align-items: center;
}

.marquee-content2 {
    display: flex;
    padding-left: 4.8rem;
    gap: 3.1em; 
    
   
}

.word1 {
    font-size: 1.8em;
    font-weight: 200;
    cursor: none;
}

#part{
    margin-top: 100px;
    height: auto;
    width: 100%;
    /* background-color: red; */
}

.p1{
    /* margin-top: 25px; */
    /* background-color: blue; */
    width: 100%;
    height: 25vh;
    padding: 2.5em 1.2em;

}

.p1 h2{
    font-size: 2.5em;
    font-weight: 500;
}

.line{
    margin-top: 4.5em;
    height: .1vh;
    width: 100%;
    background-color: gray;
}

#text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#text h2{
    font-weight: 500;
    font-size: 3.5em;
}

#text h4{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.2em;
    cursor: pointer;
}

#small{
    font-size: 1.5em;
}

#w{
    font-size: 2.5em;
    font-weight: 400;
}

#text2{
    display: flex;
    align-items: center;
    gap: 5em;
    
}

#text2 h5{
    margin-top: 22px;
    font-weight: 400;
    font-size: 1em;
}

#text2 a{
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 1em;
    text-decoration: underline;
}

#main2{
    font-family: Helvetica, sans-serif;
    /* margin: 10px 0; */
    /* position: absolute; */
    width: auto;
    height: 100vh;
    background-color: white;
    padding: 100px 0;
    color: black;
    position: relative;
} 



#main2 h1{
    /* margin-top: 25px; */
    font-size: 8em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
}

#desc{
    font-size: 1.5em;
    /* margin-top: 40px; */
    font-weight: 500;
    text-align: center;
    width: 60%;
    text-align: center;
    margin: auto;
}

#n1{
    margin: auto;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    /* padding: 30px; */
    width: 75%;
    height: 4em;
    border-radius: 3em;
    margin-top: 50px;
    color: black;
    font-size: 1.5em;
    border: 2px solid black;
    text-decoration: none;
}

#n1 i{
    font-size: 1.9em;
    /* font-weight: lighter; */
}

#n1:hover{
    background-color: black;
    color: #ffffff;
}

#stud{
    margin-top: 40px;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
}

#stud a{
    text-decoration: underline;
    font-family: "Mona Sans", sans-serif;
    font-weight: 800;
    cursor: pointer;
    color: black;
}

#link{
    padding: 10px 10px;
    margin-top: 25px;
    width: 100%;
    height: 30vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 20vh; */
}

#bl{
    height: 1.5px;
    background-color: black;
}

#br{
    height: 1.5px;
    background-color: black;
}

#lt{
    padding: 0 30px;
    height: 100%;
    width: 40%;
  
    /* background-color: blue; */
}

#rt{
    height: 100%;
    width: 40%;
    /* background-color: green; */
    padding: 0 1.8em;
}

.in{
    margin-top: 20px;
    height: 10vh;
    width: 100%;
    /* background-color: yellow; */
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lik{
    text-decoration: none;
    color: black;
    font-size: .9em;
}

.lie{
    text-decoration: none;
    color: black;
    font-size: .9em;
}

#link i{
    font-size: 40px;
    cursor: pointer;
}
.vary{
    /* background-color: red; */
    width: 100%;
    height: 100vh;
    
}
.vt{
    /* background-color: royalblue; */
    height: 40%;
    width: 100%;
  
    display: flex;
}
.vb{
    /* background-color: lightseagreen; */
    height: 60%;
    width: 100%;
    display: flex;
}
.vt .lp{
    /* background-color: green; */
    width: 20%;
    height: 100%;   

}
.vt .lp h2{
   font-size:2.8vw ;
   font-weight: 400;
   padding: 8vw 1vw;

}
.vt .rp{
    /* background-color: rgb(117, 128, 0); */
    width: 80%;
    height: 100%;
    padding: 8vw 1vw 8vw 2vw ;

}
.vt .rp h1{
    font-size: 6vw;
    font-weight: 400;
    line-height: 5vw;

}
.vb .changet{
    /* background-color: red; */
    height: 100%;
    width: 20%;
    position: relative;


}
.vb .changet h3{
    font-size: 5.3vw;
    font-weight: 100;
    position: absolute;
    left: 40%;
    top: 10%;
    transition: all ease 1s;
}
.vb .list h4{
    font-size: 2vw;
    font-weight: 400;
    cursor: pointer;
}

#l1{
    color: white;
    opacity: 1;
}

.vb .list{
    /* background-color: rgb(25, 186, 195); */
    height: 100%;
    width: 20%;
    line-height: 5.5vw;
    padding: 4vw 1vw 5vw 2vw ;
    


}
.vb .para{
    /* background-color: rgb(170, 255, 0); */
    height: 100%;
    width: 60%;
    padding: 5.7vw 1vw 5vw 3vw ;
    


}
.vb .para p{
    line-height: 1.8vw;    
    font-size: 1.3vw;
    font-weight: 400;

}
.idu{
    opacity: 0.7; 
    color: darkgray;
    /* transition: ease .1s; */
    cursor: pointer;
}
.ph{
    display: none;
}

#foot {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 2vh;
    color: #35484F;
}

#foot span{
    text-decoration: underline;
    font-family: "Tektur", sans-serif;
}


@media (max-width:600px) {
    #contmarq{
        padding: 6vh 0;
    }
    #nav{
        padding: 20px 8px;
    }

    #nav #right ul{
        display: none;
    }

    #nav h1{
        font-size: 35px;
        line-height: 33px;
        width: 10%;
    }

    #rr{
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* gap: px; */
        /* flex-direction: column; */
    }

    #rr .ri-arrow-right-up-line{
        display: none;
    }

    #rr .ri-sun-fill{
        font-size: 30px;
    }

    #bs{
       display: none; 
    }

    #centr #center{
        margin-top: 35px;
        font-size: 8.5vh;
        line-height: 8.5vh;
        width: 93%;
        /* -webkit-text-stroke: transparent; */
        font-weight: 500;
        /* letter-spacing: 0px; */
    } 

    #center span{
        -webkit-text-stroke: transparent;
        font-weight: 500;
        color: white;
    }

    #centr #cent2{
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }

    #cent2 p{
        margin-right: 6vw;
        margin-top: -20px;
        font-size: 2vh;
        width: 90%;
        /* text-align: left; */
        /* position: absolute; */
        /* background-color: red; */
    }

    .connect{
        margin-top: 0vh;
        width: 100%;
        text-align: center;
    }

    #cent3 h2{
        margin-top: 80px;
        font-size: 53px;
        height: 75%;
        width: 100%;
        margin-bottom: 20px;
        /* background-color: red; */
    }

    #cent3p {
        /* margin-top: 35px; */
        /* background-color: red; */
        /* margin-left: 50px; */
        padding-left: 1em;
    }

    #cent3p p{
        margin-top: 3vh;
        font-size: 1.5em;
        width: 90%;
        /* background-color: blue; */
        /* margin-left: -100px; */
    }

    #part{
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    #part .p1 h2{
        /* background-color: tan; */
        margin: -15px;
     
    }
    
    .p1 #text{
        margin-top: -4vh;
        flex-direction: column;
        gap: 4vh;
        font-size: 9px;
    }
    
    .p1 #text2{
        margin-top: -4vh;
        flex-direction: column;
        gap: 3vh;
        font-size: 10px;
    }

    .p1 #text2 h2{
        font-size: 35px;
    }

    .p1 #text2 h5{
        font-size: 12px;
    }
    .vt{
        display: flex;
        flex-direction: column;
    }
    .lp{
        margin-top: -10vh;
        margin-left: 0.2vh;
       
        
      
    }
    .lp #proc{
        /* background-color: red; */
        margin-top: 5vh;
        font-size: 4vh;
        width: 35vh;
        text-orientation: sideways-right;   
    }

    .rp #crf{
        margin-top: -9vh;
        font-size: 8vh;
        line-height: 7vh;
    }
    .vb{
        /* background-color: red; */
        flex-wrap: wrap;
      
    }
    .vb  .changet{

        display: none;
    }

.vb  .list{
    margin-top: -2vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}


    .list #l1{
        font-size: 3.5vh;
        
        
    }
    .list #l2{
        font-size: 3.5vh;
        margin-top: 3vh;
    }
    .list #l3{
        font-size: 3.5vh;
        margin-top: 3vh;
    }
    .list #l4{
        font-size: 3.5vh;
        margin-top: 3vh;
    }
    
    .vb  .para{
        display: none;

        background-color:purple;
    }
    .ph{
        font-size: 1.8vh;
        transition: ease;
    }
    #ph1{
     display: block;
    }
    #main2 #cmm{
    margin-top: -20vh;
    background-color: white;
    font-size:4.5vh;
    width: 100%;
    font-weight: 500;    
    padding: 2vh;
    padding-top: 4vh;
    }

    #desc{
        width: 100%;
        margin-top: -2vh;
        padding: 2vh;
        font-size: 2.1vh;
    }

    #main2{
        position: relative;
    }
    #main2 #n1{
        width:90%;
        margin-top: 4vh;
        font-size: 2.4vh;
    }


    #link{
        margin-top: -2vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 0;
    }

    #link #lt{
        width: 100%;
        /* background-color: red; */
    
    }
   
    #link #rt{
        margin-top: -3vh;
        width: 100%;

    }
   
   #rt .ri{
    /* background-color: red; */
    margin-top: 30px;
   }

   #rt .le{
    /* background-color: red; */
    margin-top: 25px;
   }

   #foot{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
   }
}
